.pagination {
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: 1279px) {
      display: none;
  }
}

.customers__text--grey {
  margin-top: 32px;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
  color: var(--secondery-text-color);
}

.pagination__conteiner {
  display: flex;
  margin-top: 30px;
}

.pagination__item {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 26px;
  height: 24px;
  background-color: var(--grey-background);
  border: 1px solid var(--table-color);
  border-radius: 4px;
  margin-right: 8px;

  font-size: 12px;
  line-height: 100%;
  letter-spacing: -0.01em;
  color: var(--pagination-text);

  &--active{
    color: white;
    background: var(--color-active);
    border: 1px solid var(--color-active);;
  }
 
  &:nth-child(6){
    width: 9px;
    background-color: white;
    border: none;
  }

  &:last-child{
    margin-right: 0;
  }

}


