.customers__table{
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.01em; 
    color: var(--primary-text-color);
    @media screen and (max-width: 1279px) {
        display: none;
    }
}

thead{
    color: var(--secondery-text-color);
    text-align: left;
}

th{
    padding-bottom: 14px;
    border-bottom: 1px solid var(--table-color); 
}

td{
    padding: 20px 0;
    border-bottom: 1px solid var(--table-color);  
}

th:nth-child(1){
    width: 172px;
}

th:nth-child(2){
    width: 131px;
}

th:nth-child(3){
    width: 156px;
}

th:nth-child(4){
    width: 207px;
}

th:nth-child(5){
    width: 140px;
}
th:nth-child(6){
    width: 80px;
    text-align: center;
}

td:nth-child(6){
    text-align: center;
    
}

.customers__active{
    border-radius: 4px;
    height: 27px; 
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and (max-width:1279px) {
        font-size: 14px;
        padding: 5px 10px;
    }

    &--green{
        background-color: var(--green-background);
        border: 1px solid var(--activ-green);
        color: var(--grenn-text-btn);
    }

    &--red{
        background-color: var(--red-background);
        border: 1px solid var(--activ-red);
        color: var(--activ-red);
    }
}

