:root {
    --primary-text-color: #292D32;
    --secondery-text-color: #B5B7C0;
    --color-active: #5932EA;
    --main-background: #FAFBFF;
    --grey-background: #F5F5F5;
    --search-background:  #F9FBFF;
    --red-background: #FFC5C5;
    --green-background:  rgba(22, 192, 152, 0.38);;
    --table-color: #EEEEEE;
    --activ-green:#00B087;
    --activ-red:#DF0404;
    --green-text:#16C098;
    --pagination-text:#404B52;
    --menu-text:#9197B3;
    --user-text:#757575;
    --logo-text:#838383;
  }